.editor {
    display: grid;
    justify-items: center;
}

.canvas-container {
    place-self: center;
    margin-block-end: 1rem;
}

.meme-inputs {
    display: grid;
    max-width: 80vw;
    min-width: 300px;
    grid-template-columns: 1rem 1fr 1rem;
    border-radius: 0.5rem;
    background-color: var(--clrPrimary);
}

.meme-inputs>* {
    grid-column: 2;
}

.canvas-text {
    display: block;
    margin-block: 1rem;
    padding: 5px 10px;
    border-radius: 0.5rem;

    border: 1px solid var(--clrSecondary-1);
    color: var(--clrPrimary-1);
    cursor: text;
}

.change-lines {
    display: flex;
    margin-block-end: 1rem;

    justify-content: space-between;
}

.edit-lines {
    border: 1px solid var(--clrSecondary-2);
    border-radius: 0.5rem;
}

.edit-lines>* {
    margin-inline: auto;
    width: 100%;
}

.edit-line1 {
    display: flex;
    margin-block-end: 1rem;
    justify-content: space-evenly;
    justify-self: center;
}

.edit-line2 {
    display: flex;
    margin-block-end: 1rem;
    justify-self: center;
    justify-content: space-between;
}

.meme-inputs button {
    padding: 10px;
    border: 1px solid var(--clrSecondary-1);
}

#font-family {
    padding: 4px 10px;
    border-radius: 0.5rem;
    border: 1px solid var(--clrSecondary-1);
    color: var(--clrPrimary-1);
}

.canvas-text,
#font-family:focus {
    border-style: inset;
    outline-color: var(--clrSecondary-1);
    color: var(--clrPrimary-1);
}

#font-color,
#stroke-color {
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 0.5rem;
    background-color: var(--clrPrimary);
    border: none;
}