.gallery-container {
    display: grid;
    justify-self: center;
    width: 90vw;
    max-width: 1000px;
}

.gallery {
    display: grid;
    justify-self: center;
    width: 100%;
    height: 100%;
    gap: 0.5rem;
    background-color: var(--clrSecondary-1);
    border-radius: 0.3rem;
}

.gallery-img {
    border-radius: 0.3rem;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    justify-self: center;
    outline: 1px solid var(--clrPrimary);
}