/* MOBILE */

@media (max-width: 520px) {

    .gallery {
        grid-template-columns: minmax(150px, 1fr) minmax(150px, 1fr);
    }

    .editor {
        display: grid;
    }

}


/* EDITOR */


/* GALLERY  */

/* SMALL */

@media (min-width: 520px) {

    .gallery {
        grid-template-columns: minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr);
    }

    .main-header {
        display: flex;
        justify-content: space-between;
    }

    .main-header h1 {
        padding: 0.5rem;
    }

    .nav-bar button {
        height: 100%;
        aspect-ratio: 1;
    }

    .nav-bar button:last-child {
        padding-inline-end: 0.5rem;
    }

}


/* MEDIUM */

@media (min-width: 620px) {

    .editor {
        grid-template-columns: 1fr 1fr;
        justify-items: start;
    }

    .share-download-div {
        grid-column: 1 / -1;
    }

    /* .main-header {
        width: 600px;
    } */

}

@media (min-width: 860px) {

    .gallery {
        grid-template-columns: minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr);
    }
}


/* LARGE */

@media (min-width: 860px) {

    .gallery {
        grid-auto-flow: row;
    }
}

@media (min-width: 1500px) {

    /* .main-header,
    .gallery {
        width: 1280px;
    } */

    .gallery {
        grid-template-columns: minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr);
    }

}