/* MOBILE */

@media (max-width: 500px) {

    .gallery {
        grid-template-columns: minmax(150px, 1fr) minmax(150px, 1fr);
    }

    /* .gallery-img {
        width: 90%;
        aspect-ratio: 1;
    } */
}


/* GALLERY  */

/* SMALL */

@media (min-width: 500px) {

    .gallery {
        grid-template-columns: minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr);
    }

}


/* MEDIUM */

@media (min-width: 860px) {
     .gallery {
        grid-template-columns: minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr);
    }
}


/* LARGE */

@media (min-width: 860px) {
     .gallery {
        grid-auto-flow: row;
    }

    /* .gallery-img {
        width: 200px;
        aspect-ratio: 1;
    } */
}