/* MOBILE */

@media (max-width: 500px) {

    .gallery {
        grid-template-columns: minmax(150px, 1fr) minmax(150px, 1fr);
    }

.editor {
    display: grid;
}

}


/* EDITOR */


/* GALLERY  */

/* SMALL */

@media (min-width: 500px) {

    .gallery {
        grid-template-columns: minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr);
    }

}


/* MEDIUM */

@media (min-width: 620px ) {

    .editor {
        grid-template-columns: 1fr 1fr;
    }

    .share-download-div {
        grid-column: 1 / -1;
    }
}

@media (min-width: 860px) {

    .gallery {
        grid-template-columns: minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr);
    }
}


/* LARGE */

@media (min-width: 860px) {

    .gallery {
        grid-auto-flow: row;
    }
}